In [1]:
# Lecture 4/18

In [ ]:
# Install and import pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
# Series

In [6]:
data = [1, 2, 3, 4]

In [7]:
ser = pd.Series(data)

In [8]:
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
# Data frame

In [12]:
datas = {
    'column1': [1, 2, 3, 4, np.nan],
    'column2': ['A', 'B', 'C', 'D', 'E']
}
dataframe = pd.DataFrame(datas)
print(dataframe)

   column1 column2
0      1.0       A
1      2.0       B
2      3.0       C
3      4.0       D
4      NaN       E

In [13]:
#Data cleaning

In [14]:
#Missing Data

In [19]:
dataframe.dropna

<bound method DataFrame.dropna of    column1 column2
0      1.0       A
1      2.0       B
2      3.0       C
3      4.0       D
4      NaN       E>

In [20]:
dataframe.fillna(value = 1)

   column1 column2
0      1.0       A
1      2.0       B
2      3.0       C
3      4.0       D
4      1.0       E

In [21]:
dataframe.drop_duplicates()

   column1 column2
0      1.0       A
1      2.0       B
2      3.0       C
3      4.0       D
4      NaN       E

In [22]:
#Rename Columns

In [26]:
dataframe.rename(columns={'column1' : 'columnnew'}, inplace=True)

In [27]:
print(dataframe)

   columnnew column2
0        1.0       A
1        2.0       B
2        3.0       C
3        4.0       D
4        NaN       E

In [28]:
dataframe.replace({4.0 : 7.0}, inplace=True)

In [29]:
print(dataframe)

   columnnew column2
0        1.0       A
1        2.0       B
2        3.0       C
3        7.0       D
4        NaN       E

In [31]:
dataframe.loc[3, "columnnew"] = 6

In [32]:
print(dataframe)

   columnnew column2
0        1.0       A
1        2.0       B
2        3.0       C
3        6.0       D
4        NaN       E

In [33]:
dataframe.sort_values(by=["columnnew"], ascending=False, inplace=True)

In [34]:
print(dataframe)

   columnnew column2
3        6.0       D
2        3.0       C
1        2.0       B
0        1.0       A
4        NaN       E

In [35]:
#inplace=whatever means that the dataframe stores the manipulation of the data that you just did

In [36]:
#the next time you print it, the dataframe will still be in that sort